* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#page-title {
    background-color: #112B3C;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

#sidebar {
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    background-color: #205375;
    height: 100vh;
    width: 15%;
}

.form-element {
    margin: 5% 0;
}

.form-element input {
    width: 95%;
    font-size: 1rem;
    padding: 1%;
    outline: none;
}

#add-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#add-book {
    padding: 3% 8%;
    font-size: 1.25rem;
    outline: none;
    background-color: #F66B0E;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

#book-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
}

#read-form-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#book-container {
    display: grid;
    width: 100%;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 3%;
    padding: 3% 3% 3% 5%;
    margin-left: 15%;
}

.book-card {
    background-color: #EFEFEF;
    padding: 3%;
    border-radius: 7px;
    border-left: 5px solid #F66B0E;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 14px -9px #000000;
}

.pages-and-read {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-element {
    margin: 2% 0;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }